.container2{
    width: 986px;
    margin: 0 auto;
    background-color: #ff711e;
    margin-top:60px;
    outline:1px orange;
    font-family: "Timmana" , sans-serif;

}

.card-body{
    width: 100%;
    margin-left: auto;
    margin-top: 7%;
}