*{
    margin:0;
    padding:0;
}

h1{
    color: orange;
    font-family: "Timmana" , sans-serif;
}

@font-face{
    font-family: "delirium";
    src: url(delirium.ttf);
}


body{
    background-image: url("../images/zwartevilt/zwartevilt.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

.jumbotron{
    margin:0;
    padding:0;
}
#headContainer {
    width: 100%;
    margin-left: auto;
}
#headTitle{
    font-size: 24vw;
    font-family: "delirium";
    color: #ff711e;
    width: 100%;
    text-align: center;

}
#searchNav {
    text-align: center;
    margin-left: 18%;
}
header {
    display: block;
}

#mainNav {
    position: fixed;
    margin: 25px 25px;
}
a.navLinks {
    color: #ffaa3c;
    font-size: 20px;
}

main {
    height: 100%;
}

#foodDiv {
    display: none;
}
#drinkDiv {
    display: none;
}
#spaceArea{
    display: none;
}
#searchFields {
    display: none;
}




#drinkResults {
    color: white;
}
.foodResults{
    background-color: white;
} 

.drinkCard {
    padding: 10px;
}

.about{
    width: auto;
    margin: 0 auto;
    background-color: #ff711e;
    margin-top:60px;
    outline:1px orange;
    font-family: "Timmana" , sans-serif;
    padding: 10px;
}
#resultBtn{
    margin: auto;
}
#foodResultBtn{
    display: none;
    float: left;
}
#drinkResultBtn{
    display: none;
    float: left;
    
}


@media only screen and (max-width: 700px) {
    #searchNav{
        flex-direction: column !important;
        font-size: 100px;
        margin:0;
    }
    .nav-link{
        font-size: 8vw;
        text-align: center;
    }
}

.btn{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    background-color:#ff711e;
    float: right;
}
.btn:hover{
    background-color:#ffe7d9;
}

.navBar{
    margin-right: 18%;
    
}